[include fluidd.cfg]

[include macros.cfg]
# RENAME to printer.cfg
# This file contains pin mappings for the Creality "v4.2.2" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

#-----------------------------------------------------------------------------

# For the ZNP Robin Nano DW v2.1 board:
#   - Compile with the processor model STM32F401.
#   - Select the 32KiB bootloader,
#   - Select (Serial (on # USART1 PA10/PA9) for the communication interface.
#   - Select (Serial (on # USART2 PA3/PA2) if you want to use the serial UART pins on J17 (wifi section)
# Note that the "make flash" command does not work with ZNP Robin boards. After running "make", run the following command:
# cp out/klipper.bin out/ZNP_ROBIN_NANO.bin
#
# Copy the file out/ZNP_ROBIN_NANO.bin to an SD card and then restart the printer with that SD card.
# See docs/Config_Reference.md for a description of parameters.


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3A00360015504B5735313920-if00
restart_method: command

[mcu e5p]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
# on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 5000
max_z_velocity: 20
max_z_accel: 200

[display_status]

[pause_resume]

[exclude_object]

[force_move]
enable_force_move: True 

[stepper_x]
# 42HS40-10A-HB
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: e5p:PA5 # PC0
position_endstop: 245
position_max: 245
position_min: -27
homing_speed: 50

# [tmc2209 stepper_x]
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 0
# run_current: 0.580
# hold_current: 0.500
# stealthchop_threshold: 999999

[stepper_y]
# 42HS40-10A-HB
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^e5p:PA6 # !PC1
position_endstop: 226
position_max: 226
position_min: -30
homing_speed: 50

# [tmc2209 stepper_y]
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 2
# run_current: 0.580
# hold_current: 0.500
# stealthchop_threshold: 999999

[stepper_z]
# BJ42D15-26V19 21010G8
step_pin: e5p:PC2
dir_pin: e5p:PB9
enable_pin: !e5p:PC3
microsteps: 16
rotation_distance: 4
endstop_pin: ^e5p:PA7
# position_endstop: 0
position_max: 300
position_min: -5

[stepper_z1]
# BJ42D15-26V12 231009D
step_pin: e5p:PB8
dir_pin: e5p:PB7
enable_pin: !e5p:PC3
microsteps: 16
rotation_distance: 8

[stepper_z2]
# BJ42D15-26V12 220924A1
step_pin: e5p:PB6
dir_pin: e5p:PB5
enable_pin: !e5p:PC3
microsteps: 16
rotation_distance: 8

# [z_tilt]
#z_positions:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
#points:
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#retries: 0
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[extruder]
max_extrude_only_distance: 650.0
enable_pin: PD1
step_pin: PB3
dir_pin: PB4
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: e5p:PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: e5p:PC5
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 260
min_extrude_temp: 0
pressure_advance: 0.028

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: e5p:PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: e5p:PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 135

[fan]
pin: PB15

[heater_fan heatbreak_cooling_fan]
pin: PC7
shutdown_speed: 1
heater: extruder
heater_temp: 50.0

[safe_z_home]
home_xy_position: 113, 122

[bed_screws]
screw1: 32, 29
screw2: 32, 203
screw3: 203, 29
screw4: 203, 203
screw1_name: "Front Left"
screw2_name: "Front Right"
screw3_name: "Back Left"
screw4_name: "Back Right"

[gcode_macro BED_SCREWS_CALIBRATE]
gcode:
  BED_SCREWS_ADJUST

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro PID_Tune_Hotend]
description: PID Tune hotend for PLA (220c)
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=220

[gcode_macro PID_Tune_Bed]
description: PID Tune heatbed for 60c
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60

[gcode_macro Dry_PLA]
description: Use heatbed as a filament dryer
gcode:
  SET_IDLE_TIMEOUT TIMEOUT=28800
  M140 S55

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.760
#*# pid_ki = 1.140
#*# pid_kd = 123.849
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.533
#*# pid_ki = 1.018
#*# pid_kd = 1054.267
#*#
#*# [stepper_z]
#*# position_endstop = 0.575
