# =================================================================================
# Manta M8P V2.0: STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).
# 
# BIGTREETECH EBB36 v1.2: STM32G0B1 with "8 MHz crystal" and
# "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# =================================================================================

[include fluidd.cfg]
[include klicky-probe.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[include calibrate_pa.cfg]
# [include auto_z.cfg]

[mcu]
canbus_uuid: 51c764633678
[mcu EBBCan]
canbus_uuid: 21c02c6afb53

[exclude_object]
[gcode_arcs]
resolution: 0.1

[printer]
kinematics: corexy

# AUTO SPEED found recommended acceleration and velocity after 216.27s
# | DIAG X max: a59374 v710
# | DIAG Y max: a62674 v710
# Recommended accel: 59374
# Recommended velocity: 710
# AUTO SPEED found recommended acceleration and velocity after 148.24s
# | X max: a78350 v1174
# | Y max: a78350 v1298
# Recommended accel: 78350
# Recommended velocity: 1174
# AUTO SPEED found recommended acceleration and velocity after 228.99s
# | Z max: a78350 v3917
# Recommended accel: 78350
# Recommended velocity: 3917

max_velocity: 200
max_accel: 8000 # 10000
max_z_velocity: 15
max_z_accel: 100
# square_corner_velocity: 10.0

[adxl345]
cs_pin: EBBCan: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[extruder]
dir_pin: !EBBCan: PD1
step_pin: EBBCan: PD0
enable_pin: !EBBCan: PD2
microsteps: 32
rotation_distance: 4.48565
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 32.911
pid_Ki: 10.971
pid_Kd: 24.683

min_temp: 0
max_temp: 280

# max_power: 1.0
min_extrude_temp: 85
max_extrude_cross_section: 5
max_extrude_only_distance: 450.0

pressure_advance: 0.0275
pressure_advance_smooth_time: 0.040

[filament_switch_sensor filament_sensor]
pause_on_runout: False
runout_gcode:
    M117 Runout Detected
#    SET_LED LED=nozzle_light WHITE=0
insert_gcode:
    M117 Insert Detected
#    SET_LED LED=nozzle_light WHITE=1
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
debounce_delay: 0.1
switch_pin: !EBBCan:PB8

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0

[probe]
pin: EBBCan: PB9
x_offset: 0
y_offset: 19.75
#z_offset: 0.095313 # 6.25 # 6.42
speed: 10
samples: 3
samples_result: median
sample_retract_dist: 4.0
samples_tolerance: 0.05
samples_tolerance_retries: 3

[bed_mesh]
speed: 200
horizontal_move_z: 10
mesh_min: 20, 20
mesh_max: 154, 135
probe_count: 5, 5
algorithm: bicubic
zero_reference_position: 87, 85

[quad_gantry_level]
# https://github.com/PrintersForAnts/Micron/blob/main/Firmware/printer_data/config/printer.cfg
gantry_corners:
  -46, -2.5
  223.5, 234
points:
 1, 1
 1, 149
 169, 149
 169, 1
speed: 150
horizontal_move_z: 20 # Has to be greater than z_offset. For Klicky, this is fixed to 6.something.
max_adjust: 18
retries: 5
retry_tolerance: 0.0075

[resonance_tester]
probe_points:
  87,85,25
accel_chip: adxl345
hz_per_sec: 2 # Default of 1 causes "Timer too close" error on CB1.

[shaketune]
show_macros_in_webui: False
dpi: 150

[gcode_macro COMPARE_BELTS]
gcode:
  COMPARE_BELTS_RESPONSES HZ_PER_SEC=2 TRAVEL_SPEED=200

[gcode_macro SHAPER_CALIBRATION]
gcode:
  AXES_SHAPER_CALIBRATION HZ_PER_SEC=2 TRAVEL_SPEED=200

[input_shaper]
shaper_freq_x: 77.6
shaper_type_x: mzv
damping_ratio_x: 0.035
shaper_freq_y: 52.8
shaper_type_y: mzv
damping_ratio_y: 0.074

[led nozzle_light]
white_pin: EBBCan:PD3
initial_WHITE: 0

[neopixel top_right_lights]
pin: PD15
chain_count: 12
color_order: BGR
initial_RED: 0.8
initial_GREEN: 0.584
initial_BLUE: 0.28

# =========================================
# Motors:
#  - XY axes:  Stepperonline 17HE15-1504S
#  - Z axis:   Moons MS14HS5P4150-11
#  - Extruder: Moons CSE14HRA1L410A-01
# =========================================

[stepper_x]
dir_pin: PE5
step_pin: PE6
enable_pin: !PC14
endstop_pin: EBBCan: PB6
microsteps: 32
rotation_distance: 32
position_endstop: 173
position_min: -1
position_max: 173
homing_speed: 50

[stepper_y]
dir_pin: PE1
step_pin: PE2
enable_pin: !PE4
endstop_pin: ^PF4
microsteps: 32
rotation_distance: 32
position_endstop: 186
position_min: -1
position_max: 186
homing_speed: 50

[stepper_z]
dir_pin: PG12
step_pin: PG13
enable_pin: !PG15
endstop_pin: probe:z_virtual_endstop
# endstop_pin: PF3
# position_endstop: 1.788
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16
position_min: -5.0
position_max: 160
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 2

[stepper_z1]
dir_pin: !PB7
step_pin: PB8
enable_pin: !PE0
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16

[stepper_z2]
dir_pin: PB3
step_pin: PB4
enable_pin: !PB6
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16

[stepper_z3]
dir_pin: !PD7
step_pin: PG9
enable_pin: !PG11
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16

[heater_bed]
heater_pin: PA1
sensor_pin: PB1
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130
control = pid
pid_kp = 51.138
pid_ki = 1.188
pid_kd = 550.377

[temperature_sensor chamber_temp]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 0
max_temp: 100
gcode_id: chamber_thermistor

[fan_generic Carbon_Filter]
pin: PF9

[fan_generic heatbed_fan]
pin: PF7

[temperature_fan Electric-Intake-Left]
pin: PF6
sensor_type: temperature_host
control: watermark
target_temp: 55
min_temp: 10
max_temp: 70
kick_start_time: 0.5
off_below: 0.15

[temperature_fan Electric-Exhaust-Right]
pin: PF8
sensor_type: temperature_host
control: watermark
target_temp: 55
min_temp: 10
max_temp: 70
kick_start_time: 0.5
off_below: 0.15

########################################
# TMC2209 configuration
########################################
[tmc2209 stepper_x]
uart_pin: PC13
sense_resistor: 0.11
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PE3
run_current: 0.800
sense_resistor: 0.11
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PB9
run_current: 0.800
sense_resistor: 0.11
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.800
sense_resistor: 0.11
stealthchop_threshold: 999999

[tmc2209 stepper_z2]
uart_pin: PG14
run_current: 0.800
sense_resistor: 0.11
stealthchop_threshold: 999999

[tmc2209 stepper_z3]
uart_pin: PG10
run_current: 0.800
sense_resistor: 0.11
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
sense_resistor: 0.11
stealthchop_threshold: 999999

[autotune_tmc stepper_x]
motor: moons-ms14hs5p4150
#tuning_goal: auto

[autotune_tmc stepper_y]
motor: moons-ms14hs5p4150
#tuning_goal: silent

[autotune_tmc stepper_z]
motor: omc-17he15-1504s
#tuning_goal: auto

[autotune_tmc stepper_z1]
motor: omc-17he15-1504s
#tuning_goal: silent

[autotune_tmc stepper_z2]
motor: omc-17he15-1504s
#tuning_goal: silent

[autotune_tmc stepper_z3]
motor: omc-17he15-1504s
#tuning_goal: silent

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
#tuning_goal: auto

[gcode_macro Silent_Mode]
gcode:
  AUTOTUNE_TMC STEPPER=stepper_x tuning_goal=silent
  AUTOTUNE_TMC STEPPER=stepper_y tuning_goal=silent
  AUTOTUNE_TMC STEPPER=stepper_z tuning_goal=silent
  AUTOTUNE_TMC STEPPER=stepper_z1 tuning_goal=silent
  AUTOTUNE_TMC STEPPER=stepper_z2 tuning_goal=silent
  AUTOTUNE_TMC STEPPER=stepper_z3 tuning_goal=silent

[gcode_macro Performance_Mode]
gcode:
  AUTOTUNE_TMC STEPPER=stepper_x tuning_goal=performance
  AUTOTUNE_TMC STEPPER=stepper_y tuning_goal=performance
  AUTOTUNE_TMC STEPPER=stepper_z tuning_goal=performance
  AUTOTUNE_TMC STEPPER=stepper_z1 tuning_goal=performance
  AUTOTUNE_TMC STEPPER=stepper_z2 tuning_goal=performance
  AUTOTUNE_TMC STEPPER=stepper_z3 tuning_goal=performance

[gcode_macro Default_Mode]
gcode:
  AUTOTUNE_TMC STEPPER=stepper_x tuning_goal=auto
  AUTOTUNE_TMC STEPPER=stepper_y tuning_goal=auto
  AUTOTUNE_TMC STEPPER=stepper_z tuning_goal=auto
  AUTOTUNE_TMC STEPPER=stepper_z1 tuning_goal=auto
  AUTOTUNE_TMC STEPPER=stepper_z2 tuning_goal=auto
  AUTOTUNE_TMC STEPPER=stepper_z3 tuning_goal=auto

# ==================================================================
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,
    
    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.002797, 0.047203, 0.032203, 0.017203, 0.029703, 0.000953, -0.007797, -0.009047, -0.002797
#*# 	0.030953, 0.042203, 0.044703, 0.004703, 0.020953, 0.000953, -0.010297, -0.000297, 0.013453
#*# 	-0.001547, 0.005953, 0.014703, 0.004703, -0.019047, -0.021547, 0.007203, -0.017797, 0.002203
#*# 	-0.016547, -0.012797, 0.008453, -0.014047, -0.016547, -0.002797, -0.035297, -0.007797, 0.018453
#*# 	-0.041547, 0.007203, -0.006547, -0.024047, -0.005297, -0.037797, -0.037797, -0.036547, -0.014047
#*# 	-0.045297, -0.027797, -0.016547, -0.011547, 0.003453, -0.049047, -0.040297, -0.029047, -0.070297
#*# 	-0.022797, -0.004047, -0.010297, -0.025297, -0.014047, -0.005297, -0.037797, -0.034047, -0.030297
#*# 	-0.009047, -0.009047, -0.009047, 0.010953, 0.000953, -0.009047, -0.016547, -0.035297, -0.014047
#*# 	-0.006547, -0.001547, 0.013453, 0.028453, 0.007203, 0.003453, -0.021547, -0.004047, -0.014047
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 154.0
#*# min_y = 20.0
#*# max_y = 134.96
#*#
#*# [probe]
#*# z_offset = 6.385
#*#
#*# [bed_mesh hires]
#*# version = 1
#*# points =
#*# 	-0.002797, 0.047203, 0.032203, 0.017203, 0.029703, 0.000953, -0.007797, -0.009047, -0.002797
#*# 	0.030953, 0.042203, 0.044703, 0.004703, 0.020953, 0.000953, -0.010297, -0.000297, 0.013453
#*# 	-0.001547, 0.005953, 0.014703, 0.004703, -0.019047, -0.021547, 0.007203, -0.017797, 0.002203
#*# 	-0.016547, -0.012797, 0.008453, -0.014047, -0.016547, -0.002797, -0.035297, -0.007797, 0.018453
#*# 	-0.041547, 0.007203, -0.006547, -0.024047, -0.005297, -0.037797, -0.037797, -0.036547, -0.014047
#*# 	-0.045297, -0.027797, -0.016547, -0.011547, 0.003453, -0.049047, -0.040297, -0.029047, -0.070297
#*# 	-0.022797, -0.004047, -0.010297, -0.025297, -0.014047, -0.005297, -0.037797, -0.034047, -0.030297
#*# 	-0.009047, -0.009047, -0.009047, 0.010953, 0.000953, -0.009047, -0.016547, -0.035297, -0.014047
#*# 	-0.006547, -0.001547, 0.013453, 0.028453, 0.007203, 0.003453, -0.021547, -0.004047, -0.014047
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 154.0
#*# min_y = 20.0
#*# max_y = 134.96
